.button{
    padding: 15px 5px;
    border-radius: 10px;
    background: #549300;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    opacity: 90%;
    
}

.fullwidth {
    width: 100%;

}